<div class="user-object">
    <%= link_to "/users/#{user.id}" do %>
    <img class="icon user-object-icon" src=<%= "/user_images/#{user.image_name}" %> onerror="this.src='/user_images/default_icon.jpg'"/>
    <div class="user-object-name">
        <%= user.name %>
    </div>
    <% end %>
    <ul>
        <% posts.each_with_index do |post, i| %>
            <% if i==0 %>
                <li class="user-object-item user-object-item-nw speech-bubble speech-bubble-nw">
                    <%= render partial: "userObjectItem", locals: { post: post } %>
                </li>
            <% end %>
            <% if i==1 %>
                <li class="user-object-item user-object-item-ne speech-bubble speech-bubble-ne">
                    <%= render partial: "userObjectItem", locals: { post: post } %>
                </li>
            <% end %>
            <% if i==2 %>
                <li class="user-object-item user-object-item-sw speech-bubble speech-bubble-sw">
                    <%= render partial: "userObjectItem", locals: { post: post } %>
                </li>
            <% end %>
            <% if i==3 %>
                <li class="user-object-item user-object-item-se speech-bubble speech-bubble-se">
                    <%= render partial: "userObjectItem", locals: { post: post } %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>