<div class="main user-show">
    <div class="container">
        <div class="user">
            <img src=<%= "/user_images/#{@user.image_name}" %>>
            <h2><%= @user.name %></h2>
            <p><%= @user.email %></p>
            <% if @current_user.id == @user.id %>
                <%= link_to("編集", "/users/#{@user.id}/edit") %>
            <% else %>
                <%= link_to("/posts/#{@user.id}/new") do %>
                    <input class="btn" type="submit" value="いいね！メッセージを送る">
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="container">
        <ul class="user-tabs">
            <li class="active"><%= link_to("みんなからのいいね！メッセージ", "/users/#{@user.id}") %></li>
            <li><%= link_to("いいね!グラフ（未実装）", "/users/#{@user.id}") %></li>
        </ul>
        <% @posts.each do |post| %>
            <div class="posts-index-item">
                <%= link_to(post.content, "/posts/#{post.id}") %>
            </div>
        <% end %>
    </div>
</div>